body {
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222222;
    background-image: url(mountain.jpeg);
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background: #ffffffe3; 
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.container2 {
    display: auto;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.295); 
    border-radius: 10px;
    margin: 10px;
}
.container3 {
    display: flex;
    justify-content: space-around;
    background: #ffffffe0; 
}
.container4 {
    display: auto;
    justify-content: space-around;
    background: #ffffffa9; 
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 50px;
    padding: 20px;
}

.score1 {
    background: #250050ab;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    text-align: center;
    color: #7ba0f1; 
    width: 120px; 
    height: 100px; 
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    margin: auto;
}

.score2 {
    background: #003624af;
    text-align: center;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    color: #87ee5e; 
    width: 120px; 
    height: 100px; 
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    margin: auto;
}

.score3 {
    background: #570016af;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    text-align: center;
    color: #f54e4e; 
    width: 120px; 
    height: 100px; 
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    margin: auto;
}

button {
    background: rgba(255, 255, 255, 0.664);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: medium;
    justify-content: space-around; 
    border: 2px solid white; 
    margin: 8px;
    border-radius: 6px;
    padding: 10px;
}